<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automation test Suite">
  <test name="cucumber-test">
    <classes>
      <class name="step_definitions.RunCukesTest"/>
    </classes>
  </test> <!-- cucumber-test -->
</suite> <!-- Default Suite -->
